
@model Emprunts

<div asp-validation-summary="All" class="text-danger"></div>

<div class="container mt-4">
    <h2>Supprimer un emprunt</h2>

    <div class="alert alert-warning" role="alert">
        <strong>Attention!</strong> Êtes-vous sûr de vouloir supprimer cet emprunt?
    </div>


    <form asp-action="SupprimerConfirmation" method="post">
        <input type="hidden" asp-for="ID" />
        <button type="submit" class="btn btn-danger">Supprimer</button>
        <a href="@Url.Action("Index", "Emprunt")" class="btn btn-secondary">Annuler</a>
    </form>

</div>